.top-citys-text{
    margin: 5px 6px;
    font-size: 14.3px;
    font-weight: 500;
}

.city-btns-container{
    display: flex;
    width: 19rem;
    justify-content: space-between;
    margin-left: 2px;
}

.city-btns{
    font-size: 14px;
    padding: 3px 8px;
    background-color: #fbf9f9;
    color:#0d86d6;
    border-radius: 8px;
    border: 2.5px solid #e4e2e2;
    box-shadow: 0px 0px 10px 0px rgb(221, 221, 221);
    cursor: pointer;
}

.city-btns:hover{
    background-color:#0d86d6;
    color: white;
}

.city-container{
    position: relative;
    z-index: 2;
}

.city-selector{
    width: 1.1rem;
    border: none;
    position: absolute;
    top: 16px;
    left: 15.5rem;
    color: #807d7d;
    background-color: #fbf9f9;
    cursor: pointer;
}

.city-selector:focus{
    outline: none;
}

.added-btn-container{
    display: flex;
    flex-wrap: wrap;
    margin: 9px 0 0 4px ;
}

.added-btn{
    background-color: #0d86d6;
    color: white;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 8px;
    border: 2.5px solid #e4e2e2;
    box-shadow: 0px 0px 10px 0px rgb(221, 221, 221);
    display: flex;
    align-items: center;
}

.delete-btn{
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
}

.cities-dropdown-box{
    position: absolute;
    top: 2rem;
    left: 15.8rem;
    z-index: 1;
    border-radius: 10px;
    width: 7.5rem;
    background-color:#fbf9f9;
    box-shadow: 0px 0px 10px 0px rgb(209, 209, 209);
}

.cities-checkbox-container{
    display: flex;
    margin: 3px auto;
    width: 90%;
}

.cities-dropdown-box-text{
    font-size: 14.1px;
}

.cities-checkbox{
    margin: 0 5px 0 2px;
    cursor: pointer;
}

/* onChange={(e) =>
    setBasicInfo((item) => ({
      ...item,
      city: item.city.includes(e.target.value)
        ? [...item.city]
        : [...item.city, e.target.value],
    }))
  } */