@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
   --landing-page-box-shadow:#dddddd;
   --landing-page-border:#e4e2e2;
   --landing-page-bg:#fbf9f9;
   --step-one-main-color:#0d86d6;
}

.wave{
    position: fixed;
    width: 100%;
    bottom: -6px;
    z-index: -1;
}
